<!-- <p>footer works!</p> -->
<section id="footer">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center my-4">
          <div class="py-5 text-white">
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
          </div>
        </div>
        <div class="col-md-4 text-center my-4">
          <div class="py-5 text-white">
            <h3>AROUND THE WEB</h3>
            <div
              class="icons d-flex align-content-center justify-content-center"
            >
              <div class="icon m-1">
                <i class="fa-brands fa-facebook"></i>
              </div>
              <div class="icon m-1">
                <i class="fa-brands fa-twitter"></i>
              </div>
              <div class="icon m-1">
                <i class="fa-brands fa-linkedin-in"></i>
              </div>
              <div class="icon m-1">
                <i class="fa-solid fa-globe"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center my-4">
          <div class="py-5 text-white">
            <h3>ABOUT FREELANCER</h3>
            <p class="px-5">
              Freelance is a free to use, licensed Bootstrap theme created by
              Route
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyRightText p-3 text-white text-center">
    <p>Copyright © Your Website 2021</p>
  </div>
</section>
