<section class="notFound">
  <div class="w-25">
    <img src="./assets/image/error.png" alt="" class="w-100" />
  </div>
  <div class="title">
    <h5 class="bg">page not found</h5>
    <p class="w-50 mx-auto fs">
      the page you are looking for might have been removed had its name changed
      or its temporarily unavaliable
    </p>
  </div>
  <a class="btn">
    <div>
      <a [routerLink]="['']" class="text-white text-decoration-none"
        ><i class="fa-solid fa-house-user"></i> go to home page</a
      >
    </div>
  </a>
</section>
