<!-- <p>about works!</p> -->
<section
  id="about"
  class="min-vh-100 d-flex align-items-center justify-content-center flex-column"
>
  <div
    class="About-header d-flex align-items-center justify-content-center flex-column"
  >
    <h2 class="fw-bold pt-5 name text-white fs-3">ABOUT COMPONENT</h2>
    <div class="star">
      <i class="fa-solid fa-star py-1 fa-2"></i>
    </div>
  </div>
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-6">
        <div>
          <p class="text-white">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <p class="text-white">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
