<!-- <p>contact works!</p> -->
<section
  id="contact"
  class="d-flex align-items-center justify-content-center py-5 min-vh-100 flex-column"
>
  <div
    class="contact-header d-flex align-items-center justify-content-center flex-column"
  >
    <h2 class="fw-bold pt-5 name">CONATCT SECTION</h2>
    <div class="star">
      <i class="fa-solid fa-star py-1 fa-2"></i>
    </div>
  </div>
  <form class="contact-form p-3 mx-auto mt-4">
    <div class="input-container py-2">
      <input
        id="UserName"
        type="text"
        placeholder=" User Name"
        name="UserName"
        class="form-control py-3"
      />
      <label for="UserName">User Name:</label>
    </div>

    <div class="input-container py-2">
      <input
        id="userAge"
        type="number"
        placeholder="User Age"
        name="userAge"
        class="form-control py-3"
      />
      <label for="userAge">User Age:</label>
    </div>

    <div class="input-container py-2">
      <input
        id="UserEmail"
        type="email"
        placeholder="User Email"
        name="UserEmail"
        class="form-control py-3"
      />
      <label for="UserEmail">User Email:</label>
    </div>

    <div class="input-container py-2">
      <input
        id="UserPasswprd"
        type="password"
        placeholder="User Password"
        name="UserPasswprd"
        class="form-control py-3"
      />
      <label for="UserPasswprd">User Password:</label>
    </div>

    <button type="button" class="btn mt-2 text-white">send Message</button>
  </form>
</section>
